{% extends 'base.html' %}
{% load static %}
{% block title %} Quienes somos {% endblock %}

{% block contenido %}

</br>




  <div class="text-center" >
  <section id="quienes">
    <hr />
    <h1>Nuestros Profesionales</h1>

    </br>
   </br>

    <div class="p-3 mb-2 bg-warning text-dark "> <center> <h4> Cuerpo Médico </h4> </center></div>

    <div >
        <img
                src="{% static '/img/equipo.png' %}"
                class="col-6 col-md-8"
                alt="equipo"
                />
        <img>

        
        
    </div>
    <p>
      Contamos con un excelente equipo especialista para atender las necesidades de nuestros pacientes, 
      los cuales se encuentran titulados de la Universidad Mayor con pre-grados, ofreciendo una atención 
      de calidad.


    </p>
    </br>
    </br>
    <div class="p-3 mb-2 bg-warning text-dark "> <center> <h4> Cuerpo Administrativo </h4> </center></div>
    <div>
        <img
                src="{% static '/img/equipo2.png' %}"
                class="col-6 col-md-6"
                alt="equipo"
                />
        <img>
</div>

    </br>
    </br>
    <br />
    <hr />

    <h1>Nuestra Misión</h1>
    <p>
      La misión de la Clínica Veterinaria es difundir la excelencia médica entre 
      la profesión médico veterinaria con el objetivo de mejorar la salud y el bienestar de los animales.


    </p>

    <br />
    <hr />
    <h1>Nuestra Vision</h1>
    <p>
      Ser la clínica veterinaria de referencia y reconocida a nivel nacional por la calidad de 
      su equipo profesional, la infraestructura y el equipamiento de primera línea. Igualmente,
      ofrecer servicios integrales que permitan cumplir con todas las necesidades de nuestros pacientes.


    </p>
  </div>
  </section>
  <br />
  <hr />
{% endblock %}