{% extends 'base.html' %}
{% load static %}
{% block title %} Quienes somos {% endblock %}

{% block contenido %}


<h3>Nuestros Profesionales</h3>
<div >
    <div class="card">
        <div class="card-body float-right">Basic card</div>
    </div>
    <div class="card">
        <div class="card-body">Basic card</div>
    </div>
    <div class="card">
        <div class="card-body">Basic card</div>
    </div>
    <div class="card">
        <div class="card-body">Basic card</div>
    </div>
</div>

<h3>Especialidades</h3>
<div class="mt-4 p-5 bg-secondary text-white rounded">

</div>
{% endblock %}