{% extends 'base.html' %} 
{% load static %} 
{% block title %} Reserva horas {% endblock %} 
{% block contenido %}



<div class="container mt-3">
    <h4>Detalle Reserva</h4>
</div>
<script src="{% static 'js/calendar.js' %}"></script>

  {% load crispy_forms_tags %}
        <hr>
            <!--  editar-->
            <div class="row" >
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="modal-title">Detalle reserva</h4>
                            <hr>

                            <form action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="modal-footer">
                                    <button type="submit" value="Guardar" class="btn btn-primary">Reservar</button>
                                    
                                    <a href="{% url 'resv_hora' %}" class="btn btn-danger"> Cancelar</a>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div> 


{% endblock %}
              












    
                    
    
      
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
