{% extends 'base.html' %} 
{% load static %} 
{% block title %} Reserva horas {% endblock %} 
{% block contenido %}

<div>
  <h2 class="text-center mt-4">Reserva tu Hora</h2>
</div>



  <table class="table table-striped mt-5 shadow  bg-body rounded">
    <thead class="table-info">
      <tr>
        <th class="text-center" scope="col">Detalle</th>
        <th scope="col">Precio</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      {% for di in disp %}
      <tr>
        <td>
          <div class="card" style="max-width: 700px">
            
            <div class="row no-gutters">
             
              <img class="align-self-center mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrniw_MGkQk8SGMURqD1SdXCvOlklMseSBow&usqp=CAU" width="140px"/>
                
              <div class="col-md-8">
                <div class="card-body">
                  <h6 class="card-title">Especialista: {{ di.empleado_id_emp | capfirst }}</h6>
                  <h6 class="card-title">Servicio: {{ di.servicio_id_ser | capfirst }}</h6>
                  
                  <p class="card-text">
                    {{ di.detalle | capfirst }}
                  </p>
                  <p class="card-text">
                    <h6 >{{ di.fecha }} {{ di.hora }}</h6>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="align-middle">$ {{ di.precio }}</td>
        <td class="align-middle"><button class="btn btn-info shadow p-2  bg-body rounded ">Reservar Hora</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
              

