{% extends 'base.html' %}
{% load static %}
{% block title %} Servicio {% endblock %}

{% block contenido %}

 <!-- Seccion Tipos de Servicio Inicio ------------------------------>
 <section>
    <h2 class="text-center mt-4">Nuestros Servicios</h2>

    <h4 class="text-center">Mas de 10 años de experiencia en distintas areas</h4>

    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/consulta.png' %}" alt="Cinque Terre" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Consultas Medicas</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>


    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/cirugia.png' %}" alt="Forest" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Cirugias</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>

    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/peluqueria.png' %}" alt="Northern Lights" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Peluqueria</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>

    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/rayos.png' %}" alt="Mountains" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Rayos X</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>
    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/consulta.png' %}" alt="Cinque Terre" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Hospitalizacion</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>


    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/cirugia.png' %}" alt="Forest" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Micro Chips</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>

    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/peluqueria.png' %}" alt="Northern Lights" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Rehabilitacion</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>

    <div class="responsive mt-4 img-thumbnail">
      <div class="gallery">
        <a target="_blank">
          <img src="{% static 'img/rayos.png' %}" alt="Mountains" width="200" height="200">
        </a>
        <h4 class="text-center mt-3">Toma de Examenes</h4>
        <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, similique?</div>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>



{% endblock %}