{% extends 'base.html' %}
{% load static %}
{% block title %} Servicio {% endblock %}


{% block contenido %}

<!doctype html>
<html lang="en">
  
  <body>
    <!-- Seccion Tipos de Servicio Inicio ------------------------------>
      <section>
        <h2 class="text-center mt-4">Nuestros Servicios</h2>

        <h4 class="text-center">Mas de 10 años de experiencia en distintas areas</h4>

        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank" >
              <img class="amarillo " src="{% static 'img/revision-medica.png' %}" alt="Cinque Terre" width="180px" height="180px" >
            </a>
            <h4 class="text-center mt-5 ">Consulta general</h4>           
            
          </div>
        </div>


        
        
        
        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/esterilizacion.png' %}" alt="Forest" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-4">Esterilización y castraciones</h4>
          </div>
        </div>

        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/chip.png' %}" alt="Northern Lights" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-5">Implantación del chip</h4>
          </div>
        </div>

        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/examen.png' %}" alt="Mountains" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-4">Exámenes de Laboratorio</h4>
          </div>
        </div>
        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/eco.png' %}" alt="Cinque Terre" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-4">Radiografías y ecografias</h4>
          </div>
        </div>


        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/destartrajes.png' %}" alt="Forest" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-5">Destartrajes</h4>
          </div>
        </div>

        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/piel.png' %}" alt="Northern Lights" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-5">Examen de piel</h4>
          </div>
        </div>

        <div class="responsive mt-4 ">
          <div class="">
            <a target="_blank">
              <img src="{% static 'img/peluq.png' %}" alt="Mountains" width="180px" height="180px">
            </a>
            <h4 class="text-center mt-5">Peluqueria</h4>
          </div>
        </div>
        <div class="clearfix"></div>
      </section>

    </br>
  </br>
      <hr />
      <section>
        <div class="p-3 mb-1 bg-warning text-dark col-12 text-center "> <h4> Consulta General </h4> </div>
        
        <div >
          <ul>
            <li>
              Vacunaciones y desparasitaciones
            </li>
            <li>
              Implantación de Chip en Mascotas
            </li>
          </ul>
        </div>
      </section>
    </br>
  </br>
      <hr />
      <section>
        <div class="p-3 mb-1 bg-warning text-dark col-12 text-center "> <h4> Cirugía </h4> </div>
        
        <div >

          <ul>
            <li>
              Anestesia de alta complejidad
            </li>
            <li>
              Esterilizaciones
            </li>
            <li>
              Cesáreas
            </li>
            <li>
              Destartraje
            </li>
            <li>
              Cirugía de tejidos blandos
            </li>
            <li>
              Cirugía ortopédica
            </li>
          </ul>
        </div>

        
    </br>
  </br>
      <hr />
      <section>
        <div class="p-3 mb-1 bg-warning text-dark col-12 text-center "> <h4> Imagenología </h4> </div>
        
        <div >
          <ul>
            <li>
              Radiografía y Ecografía ( Agendamiento vía telefónica)
            </li>
          </ul>
        </div>
      </section>

    </br>
  </br>
      <hr />
      <section>
        <div class="p-3 mb-1 bg-warning text-dark col-12 text-center "> <h4> Exámenes de rutina </h4> </div>
        
        <div >

          <ul>
            <li>
              Exámenes de sangre
            </li>
            <li>
              Exámenes de orina
            </li>
            <li>
              Exámenes fecales
            </li>
            <li>
              Biopsias
            </li>
            <li>
              Citologías
            </li>
            <li>
              Radiografía y Ecografía ( Agendamiento vía telefónica)
            </li>
          </ul>
        </div>

      </section>
      <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />

  </body>
</html>
 

{% endblock %}