{% extends 'index.html' %}
{% load static %}
{% block title %} Clientes {% endblock %}

{% block content %}


<h1>
    Clientes
</h1>



<div class="container mt-3">
    <h2>Lista Clientes</h2>
                
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Correo</th>
          <th>Dirección</th>
          <th>Comuna</th>
        </tr>
      </thead>
      <tbody>
        {% for c in cliente %}
        <tr>
          <td>{{ c.id_rut }}</td>
          <td>{{ c.nom_cli }}</td>
          <td class="text-center">{{ c.telefono }}</td>
          <td class="text-center">{{ c.email }}</td>
          <td class="text-center">{{ c.direccion }}</td>
          <td class="text-center">{{ c.comuna_id_com }}</td>
          <td><button type="button" class="btn btn-warning">Editar</button></td>
          <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}