{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    
    

    <link rel="stylesheet" href="{% static 'css/e404.css' %}">

    <link rel="shortcut icon" href="{% static 'icon/patita.png' %}" />

    <title>{% block title %} Administrador Huellitas{% endblock %}</title>

    <link href="{% static 'css/app.css' %}" rel="stylesheet" />

    <link href="{% static 'css/grafico.css' %}" rel="stylesheet" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="#">
            <span class="align-middle">Admin Huellitas</span>
          </a>

          <ul class="sidebar-nav">
            <li class="sidebar-header">Admin</li>

            <li class="sidebar-item active">
              <a class="sidebar-link" href="{% url 'index' %}">
                <i class="align-middle" data-feather="home"></i>
                <span class="align-middle">Home</span>
              </a>
            </li>
            {% if perms.App_mantenedor.view_cliente %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'clientes' %}">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Clientes</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_empleado %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'medico' %}">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Medico</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_paciente %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'pacientes' %}">
                <i class="align-middle" data-feather="github"></i>
                <span class="align-middle">Pacientes</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_insumo %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'insumos' %}">
                <i class="align-middle" data-feather="archive"></i>
                <span class="align-middle">Insumos</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_procedimientos %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'procedimientos' %}">
                <i class="align-middle" data-feather="activity"></i>
                <span class="align-middle">Porcedimientos</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_reserva %}
            <li class="sidebar-item mt-2 nav-item dropdown ">
              <a class="sidebar-link nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <i class="align-middle" data-feather="book"></i>
                <span class="align-middle">Reservas Horas</span>

              </a>
              <ul class="sidebar-nav dropdown-menu">
                
                <li><a class=" sidebar-link dropdown-item" href="{% url 'horas_disponibles' %}">Horas Disponibles</a></li>
                <li><a class=" sidebar-link dropdown-item" href="{% url 'reserva_horas'  %}">Horas Reservadas</a></li>
              </ul>
            </li>

            
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  data-bs-toggle="dropdown"
                >
                  <div class="position-relative">
                    <a  href="{% url 'recibidos' %}"><i class="align-middle" data-feather="bell"></i></a>
                    
                    <span class="indicator">1</span>
                  </div>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle"
                  href="#"
                  id="messagesDropdown"
                  data-bs-toggle="dropdown"
                >
                  
                </a>
                <div
                  class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                  aria-labelledby="messagesDropdown"
                >
                  <div class="dropdown-menu-header">
                    <div class="position-relative">4 New Messages</div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="align-middle" data-feather="settings"></i>
                </a>
                <a
                  class="nav-link dropdown-toggle d-none d-sm-inline-block"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  {% if user.is_authenticated %}
                  <img
                    src="{% static 'icon/perfil.png' %}"
                    class="avatar img-fluid rounded me-1"
                    alt="Charles Hall"
                  />Bienvenid@
                  <span class="text-dark">
                    {{ user.get_username|capfirst }}!</span
                  >
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#"
                    ><i
                      class="align-middle me-1"
                      data-feather="help-circle"
                    ></i>
                    Centro de Ayuda</a
                  >

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}"
                    ><i
                      class="align-middle me-1"
                      data-feather="log-out"
                    ></i>
                    Cerrar Sesion</a
                  >
                </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
     
        {% block content %}
       

        <h1 class="h3 mb-3 mt-3"><strong>Bienvenido al Panel</strong> Administrador Huellitas</h1>

        <div class="row">
          <div class="col-xl-6 col-xxl-5 d-flex">
            <div class="w-100">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col mt-0">
                          <h5 class="card-title">Atencion a Domicilio</h5>
                        </div>

                        <div class="col-auto">
                          <div class="stat text-primary">
                            <i class="align-middle" data-feather="truck"></i>
                          </div>
                        </div>
                      </div>
                      <h1 class="mt-1 mb-3">267</h1>
                      <div class="mb-0">
                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 3.65% </span>
                        <span class="text-muted">Atenciones</span>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col mt-0">
                          <h5 class="card-title">Clientes</h5>
                        </div>

                        <div class="col-auto">
                          <div class="stat text-primary">
                            <i class="align-middle" data-feather="users"></i>
                          </div>
                        </div>
                      </div>
                      <h1 class="mt-1 mb-3">120</h1>
                      <div class="mb-0">
                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 5.25% </span>
                        <span class="text-muted">Nuevos clientes</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col mt-0">
                          <h5 class="card-title">Gastos en Insumos</h5>
                        </div>

                        <div class="col-auto">
                          <div class="stat text-primary">
                            <i class="align-middle" data-feather="dollar-sign"></i>
                          </div>
                        </div>
                      </div>
                      <h1 class="mt-1 mb-3">$2.000.000</h1>
                      <div class="mb-0">
                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65% </span>
                        <span class="text-muted">Menos que el 2021</span>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col mt-0">
                          <h5 class="card-title">Emergencias</h5>
                        </div>

                        <div class="col-auto">
                          <div class="stat text-primary">
                            <i class="align-middle" data-feather="activity"></i>
                          </div>
                        </div>
                      </div>
                      <h1 class="mt-1 mb-3">64</h1>
                      <div class="mb-0">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -2.25% </span>
                        <span class="text-muted">Menos que el 2021</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-xxl-7">
            <div class="card flex-fill w-100">
              <div class="card-header">

                <h5 class="card-title mb-0">Medicina General 2021</h5>
              </div>
              <div class="card-body py-3">
                <div class="chart chart-sm">
                  <canvas id="chartjs-dashboard-line"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Cirujias</h5>
              <h6 class="card-subtitle text-muted"></h6>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="chartjs-bar"></canvas>
              </div>
            </div>
          </div>
        </div>
        
          {% endblock %}
        </div>
      </div>
  
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-start">
              <p class="mb-0">
                <a class="text-muted" href="https://www.duoc.cl/" target="_blank"
                  ><strong>Panel de Administracion Huellitas</strong></a
                >
              </p>
            </div>
            <div class="col-6 text-end">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a
                    class="text-muted"
                    href="{% url 'inicio' %}"
                    target="_blank"
                    >ir a Web</a
                  >
                </li>
              
              </ul>
            </div>
          </div>
        </div>
      </footer>
  
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
      <script src="sweetalert2/dist/sweetalert2.min.js"></script>


      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      -->
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
          var gradient = ctx.createLinearGradient(0, 0, 0, 225);
          gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
          gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
          // Line chart
          new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: "line",
            data: {
              labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              datasets: [{
                label: "Sales ($)",
                fill: true,
                backgroundColor: gradient,
                borderColor: window.theme.primary,
                data: [
                  2115,
                  1562,
                  1584,
                  1892,
                  1587,
                  1923,
                  2566,
                  2448,
                  2805,
                  3438,
                  2917,
                  3327
                ]
              }]
            },
            options: {
              maintainAspectRatio: false,
              legend: {
                display: false
              },
              tooltips: {
                intersect: false
              },
              hover: {
                intersect: true
              },
              plugins: {
                filler: {
                  propagate: false
                }
              },
              scales: {
                xAxes: [{
                  reverse: true,
                  gridLines: {
                    color: "rgba(0,0,0,0.0)"
                  }
                }],
                yAxes: [{
                  ticks: {
                    stepSize: 1000
                  },
                  display: true,
                  borderDash: [3, 3],
                  gridLines: {
                    color: "rgba(0,0,0,0.0)"
                  }
                }]
              }
            }
          });
        });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Pie chart
          new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: "pie",
            data: {
              labels: ["Chrome", "Firefox", "IE"],
              datasets: [{
                data: [4306, 3801, 1689],
                backgroundColor: [
                  window.theme.primary,
                  window.theme.warning,
                  window.theme.danger
                ],
                borderWidth: 5
              }]
            },
            options: {
              responsive: !window.MSInputMethodContext,
              maintainAspectRatio: false,
              legend: {
                display: false
              },
              cutoutPercentage: 75
            }
          });
        });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          // Bar chart
          new Chart(document.getElementById("chartjs-dashboard-bar"), {
            type: "bar",
            data: {
              labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              datasets: [{
                label: "This year",
                backgroundColor: window.theme.primary,
                borderColor: window.theme.primary,
                hoverBackgroundColor: window.theme.primary,
                hoverBorderColor: window.theme.primary,
                data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
                barPercentage: .75,
                categoryPercentage: .5
              }]
            },
            options: {
              maintainAspectRatio: false,
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    display: false
                  },
                  stacked: false,
                  ticks: {
                    stepSize: 20
                  }
                }],
                xAxes: [{
                  stacked: false,
                  gridLines: {
                    color: "transparent"
                  }
                }]
              }
            }
          });
        });
      </script>
     
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Bar chart
        new Chart(document.getElementById("chartjs-bar"), {
          type: "bar",
          data: {
            labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
              label: "Last year",
              backgroundColor: window.theme.primary,
              borderColor: window.theme.primary,
              hoverBackgroundColor: window.theme.primary,
              hoverBorderColor: window.theme.primary,
              data: [54, 67, 41, 55, 62, 45, 55, 73, 60, 76, 48, 79],
              barPercentage: .75,
              categoryPercentage: .5
            }, {
              label: "This year",
              backgroundColor: "#dee2e6",
              borderColor: "#dee2e6",
              hoverBackgroundColor: "#dee2e6",
              hoverBorderColor: "#dee2e6",
              data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
              barPercentage: .75,
              categoryPercentage: .5
            }]
          },
          options: {
            maintainAspectRatio: false,
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                gridLines: {
                  display: false
                },
                stacked: false,
                ticks: {
                  stepSize: 20
                }
              }],
              xAxes: [{
                stacked: false,
                gridLines: {
                  color: "transparent"
                }
              }]
            }
          }
        });
      });
    </script> 
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        // Pie chart
        new Chart(document.getElementById("chartjs-pie"), {
          type: "pie",
          data: {
            labels: ["Social", "Search Engines", "Direct", "Other"],
            datasets: [{
              data: [260, 125, 54, 146],
              backgroundColor: [
                window.theme.primary,
                window.theme.warning,
                window.theme.danger,
                "#dee2e6"
              ],
              borderColor: "transparent"
            }]
          },
          options: {
            maintainAspectRatio: false,
            legend: {
              display: false
            }
          }
        });
      });
    </script>
    <script src="{% static 'js/app.js' %}"></script>
      <script src="{% static 'js/grafico.js' %}"></script>
      <script src="{% static 'js/e404.js' %}"></script>
      <script src="sweetalert2/dist/sweetalert2.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="sweetalert2.all.min.js"></script>
      {% if messages %}
            {% for m in messages %}
                <script>Swal.fire({
                  title: 'Felicidades!',
                  text: "{{m}}",
                  icon: 'success',
                  confirmButtonText: 'Ok'
                
                })</script>
                
            {% endfor %}
      {% endif %}
      
    </body>
  </html>


       
      
           
        
            
      


