{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    
    

    

    <link rel="shortcut icon" href="{% static 'icon/patita.png' %}" />

    <title>{% block title %} Administrador Huellitas{% endblock %}</title>

    <link href="{% static 'css/app.css' %}" rel="stylesheet" />

    <link href="{% static 'css/grafico.css' %}" rel="stylesheet" />

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
          <a class="sidebar-brand" href="#">
            <span class="align-middle">Admin Huellitas</span>
          </a>

          <ul class="sidebar-nav">
            <li class="sidebar-header">Admin</li>

            <li class="sidebar-item active">
              <a class="sidebar-link" href="{% url 'index' %}">
                <i class="align-middle" data-feather="sliders"></i>
                <span class="align-middle">Home</span>
              </a>
            </li>
            {% if perms.App_mantenedor.view_cliente %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'clientes' %}">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Clientes</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_empleado %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'medico' %}">
                <i class="align-middle" data-feather="user"></i>
                <span class="align-middle">Medico</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_paciente %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'pacientes' %}">
                <i class="align-middle" data-feather="log-in"></i>
                <span class="align-middle">Pacientes</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_insumo %}
            <li class="sidebar-item mt-2">
              <a class="sidebar-link" href="{% url 'insumos' %}">
                <i class="align-middle" data-feather="user-plus"></i>
                <span class="align-middle">Insumos</span>
              </a>
            </li>
            {% endif %}
            {% if perms.App_mantenedor.view_reserva %}
            <li class="sidebar-item mt-2 nav-item dropdown ">
              <a class="sidebar-link nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#">
                <i class="align-middle" data-feather="book"></i>
                <span class="align-middle">Reservas Horas</span>

              </a>
              <ul class="sidebar-nav dropdown-menu">
                <li><a class=" sidebar-link dropdown-item" href="{% url 'horas_disponibles' %}">Horas Disponibles</a></li>
                <li><a class=" sidebar-link dropdown-item" href="{% url 'reserva_horas' %}">Horas Reservadas</a></li>
              </ul>
            </li>

            
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
          <a class="sidebar-toggle js-sidebar-toggle">
            <i class="hamburger align-self-center"></i>
          </a>

          <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle"
                  href="#"
                  id="alertsDropdown"
                  data-bs-toggle="dropdown"
                >
                  <div class="position-relative">
                    <a class="sidebar-link" href="{% url 'recibidos' %}"></a>
                    <i class="align-middle" data-feather="bell"></i>
                    <span class="indicator">4</span>
                  </div>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle"
                  href="#"
                  id="messagesDropdown"
                  data-bs-toggle="dropdown"
                >
                  <div class="position-relative">
                    <i class="align-middle" data-feather="message-square"></i>
                  </div>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
                  aria-labelledby="messagesDropdown"
                >
                  <div class="dropdown-menu-header">
                    <div class="position-relative">4 New Messages</div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  <i class="align-middle" data-feather="settings"></i>
                </a>
                <a
                  class="nav-link dropdown-toggle d-none d-sm-inline-block"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  {% if user.is_authenticated %}
                  <img
                    src="{% static 'icon/perfil.png' %}"
                    class="avatar img-fluid rounded me-1"
                    alt="Charles Hall"
                  />Bienvenid@
                  <span class="text-dark">
                    {{ user.get_username|capfirst }}!</span
                  >
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#"
                    ><i
                      class="align-middle me-1"
                      data-feather="help-circle"
                    ></i>
                    Centro de Ayuda</a
                  >

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}"
                    >Cerrar Sesion</a
                  >
                </div>
                {% endif %}
              </li>
            </ul>
          </div>
        </nav>
        
        {% block content %}
       

        <div >
          <div class="row gx-5">
            <div class="col">
             <div class="p-3 border bg-light"><canvas id="myChart"></canvas></div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light"><canvas id="myCharts"></canvas></div>
            </div>
          </div>
        </div>
          {% endblock %}
        </div>
      </div>
  
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-start">
              <p class="mb-0">
                <a class="text-muted" href="https://www.duoc.cl/" target="_blank"
                  ><strong>Panel de Administracion Huellitas</strong></a
                >
              </p>
            </div>
            <div class="col-6 text-end">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a
                    class="text-muted"
                    href="https://adminkit.io/"
                    target="_blank"
                    >Support</a
                  >
                </li>
                <li class="list-inline-item">
                  <a
                    class="text-muted"
                    href="https://adminkit.io/"
                    target="_blank"
                    >Help Center</a
                  >
                </li>
                <li class="list-inline-item">
                  <a
                    class="text-muted"
                    href="https://adminkit.io/"
                    target="_blank"
                    >Privacy</a
                  >
                </li>
                <li class="list-inline-item">
                  <a
                    class="text-muted"
                    href="https://adminkit.io/"
                    target="_blank"
                    >Terms</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
  
      <!-- Optional JavaScript; choose one of the two! -->
  
      <!-- Option 1: Bootstrap Bundle with Popper -->
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
      <script src="sweetalert2/dist/sweetalert2.min.js"></script>


      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"
      ></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <!-- Option 2: Separate Popper and Bootstrap JS -->
      <!--
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
      -->
      
      <script src="{% static 'js/grafico.js' %}"></script>
      
      <script src="sweetalert2/dist/sweetalert2.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="sweetalert2.all.min.js"></script>
      {% if messages %}
            {% for m in messages %}
                <script>Swal.fire({
                  title: 'Felicidades!',
                  text: "{{m}}",
                  icon: 'success',
                  confirmButtonText: 'Ok'
                
                })</script>
                
            {% endfor %}
      {% endif %}
      
    </body>
  </html>


       
      
           
        
            
      


