{% extends 'index.html' %}
{% load static %}
{% block title %} Insumos {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<h1>
    Insumos
</h1>



<div class="container mt-3 ">

  <h2>Lista de Insumos en Stock</h2>


    
  {% block buscador %}

  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  method="get">
    <div class="input-group">
      <input type="text" class="form-control mr-sm-2" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  
  {% endblock buscador %}
         <!-- Button trigger modal -->
{% if perms.App_mantenedor.add_insumo %}    
<button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + Agregar Insumo
</button>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Insumos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="insumo row g-3" method="POST">
          {% csrf_token %}

          
          <div class="col-12">
            <label for="nombre" class="form-label">Descripcion</label>
            <input type="text" name="nombre" class="form-control" id="inputAddress" placeholder="ej: insumo(caja), insumo(ampollas)">
          </div>
          <div class="col-12">
            <label for="inventario" class="form-label">Cantidad</label>
            <input type="text" name="inventario" class="form-control" id="inputAddress2" placeholder="ej: 20">
          </div>
          
         <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Almacenar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>           
    <table class="table table-bordered">
      <thead>
        <tr>
          
          <th>Descripción</th>
          <th>Cantidad</th>
          <th class="text-center">Accion</th>
          
        </tr>
      </thead>
      <tbody>
        {% for i in entity %}
        <tr>
          
          <td>{{ i.nombre }}</td>
          <td class="text-center">{{ i.inventario }}</td>
          {% if perms.App_mantenedor.change_insumo %} 
          <td> 
            <a href="{% url 'modificar_insumo' i.id_insumo %}" class="btn btn-info m-1">Editar</a>
          </td>
          {% endif %}
          {% if perms.App_mantenedor.delete_insumo %} 
          <td>
        <a href="{% url 'eliminar_insumo' i.id_insumo %}" type="button" class="btn btn-danger">Eliminar</a>
      </td>
      {% endif %}
      </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <div>
      {% include 'paginator.html' %}
    </div>
  </div>

<hr>
<div class="container">
    

  </div>
{% endblock %}