{% extends 'index.html' %}
{% load static %}
{% block title %} Insumos {% endblock %}

{% block content %}


<h1>
    Insumos
</h1>



<div class="container mt-3 ">
    <h2>Lista de Insumos en Stock</h2>
         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  + Agregar Insumo
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Insumos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="insumo row g-3" method="POST">
          {% csrf_token %}

          
          <div class="col-12">
            <label for="nombre" class="form-label">Descripcion</label>
            <input type="text" name="nombre" class="form-control" id="inputAddress" placeholder="ej: insumo(caja), insumo(ampollas)">
          </div>
          <div class="col-12">
            <label for="inventario" class="form-label">Cantidad</label>
            <input type="text" name="inventario" class="form-control" id="inputAddress2" placeholder="ej: 20">
          </div>
          
         <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Almacenar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        
      </div>
        </form>
      </div>
      
    </div>
  </div>
</div>           
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Descripción</th>
          <th>Cantidad</th>
          <th class="text-center">Accion</th>
          
        </tr>
      </thead>
      <tbody>
        {% for i in insumos %}
        <tr>
          <td>{{ i.id_insumo }}</td>
          <td>{{ i.nombre }}</td>
          <td class="text-center">{{ i.inventario }}</td>
          <td><button type="button" class="btn btn-warning m-1">Editar
            <button type="button" class="btn btn-danger">Eliminar</button>
          </button></td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

<hr>
<div class="container">
    

  </div>
{% endblock %}