{% extends 'index.html' %}
{% load static %}
{% block title %} Medicos {% endblock %}

{% block content %}


<h1>
    Medico
</h1>



<div class="container mt-3">
    <h2>Lista Medicos</h2>


      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal5">
        + Agregar Médico
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel5">Agregar Médico</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="insumo row g-3" method="POST">
                {% csrf_token %}
      
                
                <div class="col-12">
                  <label for="rut" class="form-label">Rut Médico*</label>
                  <input type="text" name="id_emp" class="form-control" id="inputAddress">
                </div>
                <div class="col-12">
                  <label for="nombre" class="form-label">Nombre*</label>
                  <input type="text" name="nom_emp" class="form-control" id="inputAddress" >
                </div>
                <div class="col-12">
                  <label for="apellido" class="form-label">Apellidos</label>
                  <input type="text" name="ap_emp" class="form-control" id="inputAddress2">
                </div>
                <div class="col-12">
                  <label for="telefono" class="form-label"> telefono*</label>
                  <input type="text" name="telefono" class="form-control" id="inputAddress" >
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">Email*</label>
                  <input type="text" name="email" class="form-control" id="inputAddress" placeholder="ej: huellitas@gmail.com">
                </div>
                <div class="col-12">
                  <label for="sueldo" class="form-label">Sueldo*</label>
                  <input type="text" name="sueldo" class="form-control" id="inputAddress" placeholder="ej: huellitas@gmail.com">
                </div>
                <div class="col-12">
                  <label for="genero" class="form-label">Genero*</label>
                  <input type="text" name="genero_id_gen" class="form-control" id="inputAddress" placeholder="ej: 1(Femenino), 2(Masculino), 3(Otro) ">
                </div>
                <div class="col-12">
                  <label for="comuna" class="form-label">Comuna*</label>
                  <input type="text" name="comuna_id_com" class="form-control" id="inputAddress">
                </div>
                <div class="col-12">
                  <label for="ti_emp" class="form-label">Tipo Empleado*</label>
                  <input type="text" name="tipo_empleado_idtip_emp" class="form-control" id="inputAddress" placeholder="ej: 1(Médico)">
                </div>
                <div class="col-12">
                  <label for="activo" class="form-label">Activo*</label>
                  <input type="text" name="activo" class="form-control" id="inputAddress" placeholder="ej: 1(Activo), 0(Desactivado)">
                </div>
                
                <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Almacenar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              
            </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>    
                
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        {% for m in medico %}
        <tr>
          <td>{{ m.tipo_empleado_idtip_emp }}</td>
          <td>{{ m.id_emp }}</td>
          <td>{{ m.nom_emp }} {{ m.ap_emp }}</td>
          <td>{{ m.email }}</td>
          <td> 
            <a href="{% url 'modificar_medico' m.id_emp %}" class="btn btn-warning m-1">Editar</a>
          </td>
          <td> <button type="button" class="btn btn-danger">Eliminar</button></td>
          
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}