{% extends 'index.html' %}
{% load static %}
{% block title %} Medicos {% endblock %}

{% block content %}


<h1>
    Medico
</h1>



<div class="container mt-3">
    <h2>Lista Medicos</h2>
                
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Especialidad</th>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Correo</th>
        </tr>
      </thead>
      <tbody>
        {% for m in medico %}
        <tr>
          <td>{{ m.tipo_empleado_idtip_emp }}</td>
          <td>{{ m.rut_emp }}</td>
          <td>{{ m.nom_emp }} {{ m.ap_emp }}</td>
          <td>{{ m.email }}</td>
          <td><button type="button" class="btn btn-warning m-1">Editar
            <button type="button" class="btn btn-danger">Eliminar</button>
          </button></td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}