{% extends 'index.html' %}
{% load static %}
{% block title %} Medicos {% endblock %}

{% block content %}

{% block js %}
      <script>
        function eliminarT(id){
          Swal.fire({
            title: 'Estas seguro?',
            text: "Si eliminas, No podras volver atras!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar',
            cancelButtonText: 'No, Cancelar'
          }).then(function(result) {
            if(result.isConfirmed){
                window.location.href = "/eliminar-medico/"+id+"/"
            }
        })
        }
      </script>
      {% endblock %}
<h1>
    Medico
</h1>



<div class="container mt-3">
    <h2>Lista Medicos</h2>
    
  {% block buscador %}

  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  method="get">
    <div class="input-group">
      <input type="text" class="form-control mr-sm-2" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  
  {% endblock buscador %}

  {% load crispy_forms_tags %}
      <!-- Button trigger modal -->
      {% if perms.App_mantenedor.add_empleado %}
      <button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal5">
        + Agregar Médico
      </button>
      {% endif %}
      <!-- Modal -->
      <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel5">Agregar Médico</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="insumo row g-3" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
      
<!--                 
                <div class="col-12">
                  <label for="rut" class="form-label">Rut Médico*</label>
                  <input type="text" name="id_emp" class="form-control" id="inputAddress">
                </div>
                <div class="col-12">
                  <label for="nombre" class="form-label">Nombre*</label>
                  <input type="text" name="nom_emp" class="form-control" id="inputAddress" >
                </div>
                <div class="col-12">
                  <label for="apellido" class="form-label">Apellidos</label>
                  <input type="text" name="ap_emp" class="form-control" id="inputAddress2">
                </div>
                <div class="col-12">
                  <label for="telefono" class="form-label"> telefono*</label>
                  <input type="text" name="telefono" class="form-control" id="inputAddress" >
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">Email*</label>
                  <input type="text" name="email" class="form-control" id="inputAddress" placeholder="ej: huellitas@gmail.com">
                </div>
                <div class="col-12">
                  <label for="sueldo" class="form-label">Sueldo*</label>
                  <input type="text" name="sueldo" class="form-control" id="inputAddress" placeholder="ej: huellitas@gmail.com">
                </div>
                <div class="col-12">
                  <label for="genero" class="form-label">Genero*</label>
                  <input type="text" name="genero_id_gen" class="form-control" id="inputAddress" placeholder="ej: 1(Femenino), 2(Masculino), 3(Otro) ">
                </div>
                <div class="col-12">
                  <label for="comuna" class="form-label">Comuna*</label>
                  <input type="text" name="comuna_id_com" class="form-control" id="inputAddress">
                </div>
                <div class="col-12">
                  <label for="ti_emp" class="form-label">Tipo Empleado*</label>
                  <input type="text" name="tipo_empleado_idtip_emp" class="form-control" id="inputAddress" placeholder="ej: 1(Médico)">
                </div>
                <div class="col-12">
                  <label for="activo" class="form-label">Activo*</label>
                  <input type="text" name="activo" class="form-control" id="inputAddress" placeholder="ej: 1(Activo), 0(Desactivado)">
                </div>
                 -->
                <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Almacenar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              
            </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>    
                
    <table class="table table-striped">
      <thead class="table-primary">
        <tr>
          <th>Especialidad</th>
          <th>Rut</th>
          <th>Nombre</th>
          <th>Correo</th>
          
        </tr>
      </thead>
      <tbody>
        {% for m in entity %}
        <tr>
          <td>{{ m.tipo_empleado_idtip_emp }}</td>
          <td>{{ m.id_emp }}</td>
          <td>{{ m.nom_emp }} {{ m.ap_emp }}</td>
          <td>{{ m.email }}</td>
          {% if perms.App_mantenedor.change_empleado %}
          <td> 
            <a href="{% url 'modificar_medico' m.id_emp %}" class="btn btn-info m-1">Editar</a>
          </td>
          {% endif %}
          {% if perms.App_mantenedor.delete_empleado %}
          <td> 
            <a href="#" onclick="eliminarT('{{ m.id_emp }}')"class="btn btn-danger m-1">Eliminar</a>
          </td>
          {% endif %}
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <div>
      {% include 'paginator.html' %}
    </div>
  </div>


{% endblock %}