{% extends 'index.html' %}
{% load static %}
{% block title %} Pacientes {% endblock %}

{% block content %}


<h1>
    Pacientes
</h1>



<div class="container mt-3">
    <h2>Lista Pacientes</h2>
                
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID Paciente</th>
          <th>Nombre</th>
          <th>Fecha nacimiento</th>
          <th>Raza</th>
          <th>Rut Cliente</th>
          <th>Especie</th>
        </tr>
      </thead>
      <tbody>
        {% for p in pacientes %}
        <tr>
          <td>{{ p.id_pac }}</td>
          <td>{{ p.nom_pac }}</td>
          <td class="text-center">{{ p.fec_nac }}</td>
          <td class="text-center">{{ p.raza }}</td>
          <td class="text-center">{{ p.cliente_id_cli }}</td>
          <td class="text-center">{{ p.especie_id_esp }}</td>
          <td><button type="button" class="btn btn-warning">Editar</button></td>
          <td><button type="button" class="btn btn-danger">Eliminar</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}