{% extends 'index.html' %}
{% load static %}
{% block title %} Procedimientos {% endblock %}

{% block content %}


<h1>
    Procedimientos
</h1>



<div class="container mt-3">
  <h2>Lista Procedimientos</h2>
  
  {% block buscador %}

  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  method="get">
    <div class="input-group">
      <input type="text" class="form-control mr-sm-2" placeholder="Buscar ID Paciente" name="buscar" value="{{ request.GET.buscar }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  {% endblock buscador %}

  {% load crispy_forms_tags %}
      <!-- Button trigger modal -->
      {% if perms.App_mantenedor.add_procedimiento %}
      <button type="button" class="btn btn-primary float-end mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal9">
      + Ingresar Procedimiento
    </button>
    {% endif %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal9" tabindex="-1" aria-labelledby="exampleModalLabel9" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel9">Ingresar Procedimiento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="insumo row g-3" method="POST">
              {% csrf_token %}
    
              {{ form | crispy }}
              
              <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Ingresar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            
          </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>           
                
    <table class="table table-striped">
      <thead class="table-primary">
        <tr>
          <th>Paciente</th>
          <th>Procedimiento</th>
          <th>Descripcion</th>
          <th>Indicacion</th>
          <th>Fecha Procedimiento</th>
          <th>Medico Responsable</th>
          
        </tr>
      </thead>
      <tbody>
        {% for pr in entity %}
        <tr>
          <td>{{ pr.paciente_id_pac }}</td>
          <td class="text-center">{{ pr.procedimiento_id_proc }}</td>
          <td class="text-center">{{ pr.descripcion }}</td>
          <td class="text-center">{{ pr.indicacion }}</td>
          <td class="text-center">{{ pr.fec_pro }}</td>
          <td class="text-center">{{ pr.empleado_id_emp }}</td>
          {% if perms.App_mantenedor.change_paciente %}
          <td> 
            <a href="{% url 'modificar_proced' pr.idpro_pac %}" class="btn btn-info m-1">Editar</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <div>
      {% include 'paginator.html' %}
    </div>
  </div>

{% endblock %}