{% extends 'index.html' %}
{% load static %}
{% block title %} Reserva Horas {% endblock %}

{% block content %}


<h1>
    Reserva Horas
</h1>



<div class="container mt-3">
    <h2>Horas Reservadas</h2>


                

  </div>
  <script src="{% static 'js/calendar.js' %}"></script>


<table class="table table-bordered table-striped">
    <thead>
      <tr class="table-info ">
        <th>Cliente</th>
        <th>Fecha y Hora</th>
        <th>Detalle</th>
        <th>Precio</th>
        <th>Servicio</th>
        <th>Doctor</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reserva %}
      <tr>
        <td >{{ r.rut_client}}</td>
        <td>{{ r.fecha }} {{ r.hora }}</td>
        <td>{{ r.detalle }}</td>
        <td>{{ r.precio }}</td>
        <td>{{ r.servicio_id_ser }}</td>
        <td>{{ r.empleado_id_emp }}</td>
        
        <td> 
          <a href="{% url 'modificar_reserva' r.id_res %}"  class="btn btn-info m-1">Editar</a>
        </td>
       
        
        <td> 
          <a href="" class="btn btn-danger m-1">Eliminar</a>
        </td>
       
        
      </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}

