{% extends 'index.html' %}
{% load static %}
{% block title %} Reserva Horas {% endblock %}

{% block content %}
<script>
  function eliminarT(id){
    Swal.fire({
      title: 'Estas seguro?',
      text: "Si eliminas, No podras volver atras!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, Eliminar',
      cancelButtonText: 'No, Cancelar'
    }).then(function(result) {
      if(result.isConfirmed){
          window.location.href = "/eliminar_reserva/"+id+"/"
      }
  })
  }
</script>

<h1>
    Reserva Horas
</h1>



<div class="container mt-3">
    <h2>Horas Reservadas</h2>


                

  </div>
  <script src="{% static 'js/calendar.js' %}"></script>
  {% block buscador %}
    <div class="container mt-3">

  <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
  method="get">
    <div class="input-group">
      <input type="text" class="form-control mr-sm-2" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>
</br>
{% endblock buscador %}

<table class="table table-bordered table-striped">
    <thead>
      <tr class="table-info ">
        <th>Cliente</th>
        <th>Fecha y Hora</th>
        <th>Detalle</th>
        <th>Precio</th>
        <th>Servicio</th>
        <th>Doctor</th>
      </tr>
    </thead>
    <tbody>
      {% for r in reserva %}
      <tr>
        <td >{{ r.rut_client}}</td>
        <td>{{ r.fecha }} {{ r.hora }}</td>
        <td>{{ r.detalle }}</td>
        <td>{{ r.precio }}</td>
        <td>{{ r.servicio_id_ser }}</td>
        <td>{{ r.empleado_id_emp }}</td>
        
        <td> 
          <a href="{% url 'modificar_reserva' r.id_res %}"  class="btn btn-info m-1">Editar</a>
        </td>
       
        
        <td> 
          <a href="#" onclick="eliminarT('{{ r.id_res }}')" class="btn btn-danger m-1">Eliminar</a>
        </td>
       
        
      </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}

